<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Production</key>
	<dict>
		<key>TitleWelcome</key>
		<string>Welcome User</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>TitleWelcome</key>
		<string>Welcome Tester</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>TitleWelcome</key>
		<string>Welcome Developer</string>
	</dict>
</dict>
</plist>
